<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
