<?php require_once 'partials/_header.html'; ?>

<form action="" method="post">
    <div class="pure-g">
        <div class="pure-u-1-2">
            <div class="padded">
                <h1><?php echo $title; ?></h1>
                <?php echo $additions; ?> additions, <?php echo $removals; ?> removals
            </div>
        </div>
        <div class="pure-u-1-2"></div>
        <div class="pure-u-1-2">
            <textarea class="padded" name="original"><?php echo $original; ?></textarea>
        </div>
        <div class="pure-u-1-2">
            <textarea class="padded" name="changed"><?php echo $changed; ?></textarea>
        </div>
        <div class="pure-u-1-1">
            <div class="padded">
                <input type="submit" />
            </div>
        </div>
    </div>
</form>

<?php require_once 'partials/_footer.html'; ?>
