<?php require_once 'partials/_header.html'; ?>

<form action="" method="post">
    <div class="pure-g">
        <div class="pure-u-1-2">
            <div class="padded">
                <h1><?php echo $title; ?></h1>
                <?php echo $additionsCount; ?> additions, <?php echo $removalsCount; ?> removals
            </div>
        </div>
        <div class="pure-u-1-2"></div>
        <div class="pure-u-1-2">
            <textarea id="area-removals" class="padded" name="original"><?php echo $sides ? $sides['removals']: ''; ?></textarea>
        </div>
        <div class="pure-u-1-2">
            <textarea id="area-additions" class="padded" name="changed"><?php echo $sides ? $sides['additions']: ''; ?></textarea>
        </div>
        <div class="pure-u-1-1">
            <div class="padded">
                <button type="submit" class="pure-button pure-button-primary submit">Diff!</button>
            </div>
        </div>
    </div>
</form>

<?php require_once 'partials/_footer.html'; ?>
