html,
body {
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: #ededed;
}

.padded {
    margin: 2%;
}

table.diff {
    width: 100%;
}

table.diff td {
    width: 50%;
    vertical-align: top;
    background-color: white;
}

table.diff td.removal {
    background-color: rgba(255, 0, 0, .3);
}

table.diff td.addition {
    background-color: rgba(0, 255, 0, .3);
}

table.diff del {
    background-color: rgba(255, 0, 0, 1);
}

table.diff ins {
    background-color: rgba(0, 255, 0, 1);
}

.pure-g {
    margin: 10px 0;
}

button.submit {
    width: 100%;
}
